@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inconsolata-v31-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/inconsolata-v31-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inconsolata-v31-latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/inconsolata-v31-latin-600.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v12-latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-600.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lora-v32-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lora-v32-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/lora-v32-latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lora-v32-latin-600.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-600italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/lora-v32-latin-600italic.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lora-v32-latin-600italic.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark1: #050505;
    --dark2: #1F1F1F;
    --dark3: #2D2D2D;
    --dark4: #3A3A3A;

    --light1: #757575;
    --light2: #E9E9E9;
    --light3: #F4F4F4;
    --light4: #FFFFFF;

    --color1: #a445ed;
    --color2: #FF5252;

}

.sans {
    --fontType: sans-serif;
}

.mono {
    --fontType: monospace;
}

.serif {
    --fontType: serif;
}

.darkMode {
    --dark1: #050505;
    --dark2: #1F1F1F;
    --dark3: #FFFFFF;
    --dark4: #3A3A3A;

    --light1: #757575;
    --light2: #E9E9E9;
    --light3: #1F1F1F;
    --light4: #050505;

    --color1: #a445ed;
    --color2: #FF5252;

}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--light4);
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    display: flex;
}

.container {
    width: 100%;
    max-width: 815px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}


.logo {
    width: 32px;
    height: 36.5px;
    margin-right: auto;
}

/* sitenav */
.sitenav {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: 58px;
    margin-bottom: 51px;
}

.sitanav__item {
    display: flex;
}

.sitanav__item:last-child {
    gap: 20px;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.dropdown__img {
    width: 12px;
    height: 6px;
}

.dd {
    position: relative;
    padding: 5px;
}

.dropdown__text {
    width: 100px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--dark3);

}

.dd:hover .dropdown__type {
    display: flex;
}

.dropdown__type {
    width: 183px;
    height: 152px;
    background: var(--light4);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: absolute;
    top: 36px;
    left: -50%;
    z-index: 1;
}

.dd_type {
    display: none;
}

.font-type {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.font-type:active {
    color: var(--color1);
}

.f1 {
    font-family: 'Inter', sans-serif;
}

.f2 {
    font-family: 'Lora', serif;
}

.f3 {
    font-family: 'Inconsolata' monospace;
}

.clm {
    width: 1px;
    height: 32px;
    background-color: var(--light2);
}

.dark-mode {
    width: 40px;
    height: 20px;
    background: var(--light1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark-mode__circle {
    width: 14px;
    height: 14px;
    background: #ffffff;
    margin: 3px;
    border-radius: 50%;
    margin-right: auto;
    transition: all 0.5s ease-out;
}

/* classList.add */
.dark__mode--active {
    margin-left: auto;
    margin-right: 3px;
}

/* search-input */
input {
    width: 100%;
    border: none;
    background-color: var(--light3);
    height: 64px;
    border-radius: 16px;
    padding: 24px;
    color: var(--dark3);
    font-weight: 700;
    font-size: 2rem;
    border-width: 1px inherit;
}

input:focus {
    border: 1px solid #A445ED;
}

input:focus {
    outline: none;
}

.search {
    position: relative;
}

.search__icon {
    position: absolute;
    top: 35%;
    right: 24px;
    cursor: pointer;
}

/* main */

.main {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.main__text {
    margin-bottom: 42px;
}

.main__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: var(--dark3);
}

.transcription {
    margin-top: 11px;
    font-size: 2.4rem;
    line-height: 29px;
    color: #A445ED;
}

.main__play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}


/* meaning */
.noun__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.noun__top--text {
    font-weight: 700;
    font-size: 2, 4rem;
    font-style: italic;
    line-height: 29px;
    color: var(--dark3);
}

.noun__top--hr {
    height: 1px;
    border: 1px solid var(--light2);
    width: 656px;
}

.meaning__title {
    font-size: 2rem;
    line-height: 24px;
    color: var(--light1);
}

.info {
    margin-top: 25px;
    margin-left: 22px;
}

.info__text div {
    margin-top: 13px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.info__text--icon {
    transform: translateY(10px);
    width: 5px;
    height: 5px;
    background-color: var(--color1);
    border-radius: 50%;
}

.info__text--desc {
    width: 100%;
    max-width: 685px;
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--dark3);
}

.meaning__synonyms {
    margin-top: 40px;
    display: flex;
    gap: 22px;
}

.synonyms--title {
    font-size: 2rem;
    line-height: 24px;
    color: var(--light1);
}

.synonyms--link {
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
    color: var(--color1);
}

.synonyms--link:active {
    text-decoration: underline;
}


/* verb */
.verb__top {
    margin-top: 40px;
}

.info__text--text {
    margin-top: 13px;
    margin-left: 25px;
    font-size: 1.8rem;
    line-height: 24px;
    color: var(--light1);
}

/* source */
.hr__footer {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    border: 1px solid var(--light2);
}

.source {
    margin-top: 20px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}

.source__title {
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--light1);
    margin-right: 20px;
    text-decoration: underline;
}

.source__link {
    font-size: 1.4rem;
    line-height: 17px;
    color: var(--dark3);
    margin-right: 10px;
    text-decoration: underline;
}

.source__img {
    width: 11px;
    height: 11px;
}

/* error */
.error {
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.sad {
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
}

.error__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark3);
}

.error__desc {
    font-size: 18px;
    line-height: 24px;
    color: var(--light1);
}

/* empty */
.empty {
    margin-top: 8px;
    display: none;
    color: var(--color2);
    font-size: 2rem;
    line-height: 24px;
}

.emptyUI {
    display: block;
}


/* media */
@media (max-width:420px) {
    .main__title {
        font-size: 3.2rem;
    }
}

.playBtn1 path {
    fill: #FFFFFF;
}

.playBtn2 circle {
    fill: var(--color1);
    opacity: 1;
}